/* index, 모든 sub 적용할 공통 header, footer common.css */
#wrap {}
#wrap header {
    position:relative;/* lnb_bg의 부모 위치 기준 설정 */
    background-color:aqua;
    height:92px;
    padding:0 60px;
    /* container(header) item(h1, nav, right_menu)  */
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    background-color:lime;
}
#wrap header nav .gnb {
    /* container(.gnb) item(li) */
    display:flex; flex-flow:row nowrap;
}
#wrap header nav .gnb > li {margin-right:60px;}
#wrap header nav .gnb > li:last-child {margin-right:0;}
#wrap header nav .gnb > li > a {
    border:1px solid red;
    height:92px; display:block; line-height:92px;
    /* font-family:'pretendard',sans-serif; reset초기값에 존재하므로 생략 */
    font-weight:600;
    font-size:1.125rem;
    /* line-height:1; reset초기값에 존재하므로 생략 */
    /* letter-spacing:-0.02rem; reset초기값에 존재하므로 생략 */
    /* text-align:left; 기본값이므로 작성 필요 없음 */
    /* color:#000; reset초기값에 존재하므로 생략 */
}
/* ==================================서브메뉴 */
#wrap header nav .gnb > li:first-child:hover .lnb_bg {
    display:block;
}
#wrap header nav .gnb > li:first-child .lnb_bg {display:none;}/* company */
#wrap header nav .gnb > li:nth-child(2) .lnb_bg {}/* brands */
#wrap header nav .gnb > li:nth-child(3) .lnb_bg {display:none;}/* ir */
#wrap header nav .gnb > li .lnb_bg {
    background:rgba(255,255,255,0.8);
    position:absolute; left:0; top:92px;
    /* absolute 대상일 경우 width값은 부모설정된 요소의 상대값(%)으로 설정된다. */
    width:100%;
    padding:50px 0;
    /* 초기 숨기기(마우스 올릴때만 보이도록) */
    /* display:none; */
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 {
    background-color:yellow;
    width:max-content; margin:0 auto;
    display:flex; text-align:center;
    flex-flow:row nowrap;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li {
    margin-right:100px;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li:last-child {
    margin-right:0;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li > a {}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    border:2px solid red;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li {}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a {}
/* ==================================gnb 2. brands 서브메뉴개별디자인 */
/* #wrap header nav .gnb > li:nth-child(2) .lnb_bg {} */
#wrap header nav .gnb > li #lnb_brands {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a h2 {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a p {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > a p img {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li > a {}
#wrap header nav .gnb > li #lnb_brands .lnb_depth1 > li > .lnb_depth2 > li > a img {}
/* ==================================우측 보조메뉴 */
#wrap header .right_menu {
    background-color:yellow;
    display:flex; flex-flow:row nowrap;
}
#wrap header .right_menu li {margin-left:30px;}
#wrap header .right_menu li:first-child {
    margin-left:0;
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
/* 포토샵, 피그마에서 디자인한 구분선 디자인은 CSS에서 가상선택자 after 또는 before를 이용하여 면으로 변경하여 디자인한다. */
#wrap header .right_menu li:first-child::after {
    content:''; display:inline-block;
    width:1px; height:20px;
    background-color:#000;
    margin-left:30px;
}
#wrap header .right_menu li:first-child a {
    line-height:24px;
}
#wrap header .right_menu li a {
    font-size:0.75rem;
    letter-spacing:0;
}
#wrap header .right_menu li a img {}
/* ====================================footer */
#wrap .footer_full_w {
    width:100%;
    padding:50px 60px;
}
#wrap footer {
    background-color:aqua;
    width:1280px; margin:0 auto;
    padding:50px 0;
}
#wrap footer .top {
    background-color:lime;
    margin-bottom:12px;
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap footer .top .left {
    background-color:orange;
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
#wrap footer .top .left a {
    margin-right:51px;
}
#wrap footer .top .left a:last-child {margin-right:0;}
#wrap footer .top .left a:nth-child(1) {
    font-weight:600;
    color:#138FBF;
}
#wrap footer .top .left a:nth-child(2) {
    font-weight:600;
    color:#DA2128;
}
#wrap footer .top .left a img {}
#wrap footer .top .right {
    background-color:yellow;
    display:flex; flex-flow:row nowrap;
    align-items:center;
}
/* ==========================footer 패밀리사이트+사이트맵 공통 */
#wrap footer .top .right .site {
    font-size:0.75rem;
    border:1px solid #eee;
    padding:7px 10px; height:38px;
}
/* ==========================footer 패밀리사이트+사이트맵 개별 */
#wrap footer .top .right select {
    width:197px; outline:none;
    background:#fff url(../images/down.png) no-repeat 95% center;
}
#wrap footer .top .right select option {}
#wrap footer .top .right .site_map {
    background:#fff;
    width:135px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
    margin-left:20px;
}
#wrap footer .top .right .site_map span {}
#wrap footer .top .right .site_map img {}
#wrap footer .bottom {}
#wrap footer .bottom * {
    font-size:0.875rem;
    line-height:1.5;
    color:#808080;
}
#wrap footer .bottom address {
    margin-bottom:50px;
    /* font-size:0.875rem;
    line-height:1.5;
    color:#808080; */
}
#wrap footer .bottom p {
    /* font-size:0.875rem;
    line-height:1.5;
    color:#808080; */
}